body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 50%;
  border: 0 solid black;
}

.number {
  --rotation: 0;
  position: absolute;

  width: 500px;
  height: 500px;
  text-align: center;

  transform: translateY( -20px) rotate(var(--rotation));

  padding-top: 40px;
  color: rgba(255, 255, 255, 0.10);
  font-size: 2rem;
}

.business-hours .business-hour {
  color: rgba(255, 255, 255);
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}


.clock::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-20%, -50%);
}

.clock .hand {
  --rotation: 30%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  transform-origin: bottom;
  transform-origin: bottom;
  /* may not be needed? check back after centrality fixed: */
  transform: translateX( -50%) rotate(calc(var(--rotation)) * 1deg);
}

.clock .hand.second {
  width: 3px;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.685);
}

.clock .hand.minute {
  width: 7px;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.75);
}

.clock .hand.hour {
  width: 10px;
  height: 20%;
  background-color: rgb(0, 0, 0, 0.75);
}

/* .fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
} */

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -100;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
}



.bg-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: -99;
}

/* {
    "id": 2499611,
    "width": 1080,
    "height": 1920,
    "url": "https://www.pexels.com/video/2499611/",
    "image": "https://images.pexels.com/videos/2499611/free-video-2499611.jpg?fit=crop&w=1200&h=630&auto=compress&cs=tinysrgb",
    "full_res": null,
    "tags": [],
    "duration": 22,
    "user": {
      "id": 680589,
      "name": "Joey Farina",
      "url": "https://www.pexels.com/@joey"
    },
    "video_files": [
      {
        "id": 125004,
        "quality": "hd",
        "file_type": "video/mp4",
        "width": 1080,
        "height": 1920,
        "link": "https://player.vimeo.com/external/342571552.hd.mp4?s=6aa6f164de3812abadff3dde86d19f7a074a8a66&profile_id=175&oauth2_token_id=57447761"
      },
      {
        "id": 125005,
        "quality": "sd",
        "file_type": "video/mp4",
        "width": 540,
        "height": 960,
        "link": "https://player.vimeo.com/external/342571552.sd.mp4?s=e0df43853c25598dfd0ec4d3f413bce1e002deef&profile_id=165&oauth2_token_id=57447761"
      },
      {
        "id": 125006,
        "quality": "sd",
        "file_type": "video/mp4",
        "width": 240,
        "height": 426,
        "link": "https://player.vimeo.com/external/342571552.sd.mp4?s=e0df43853c25598dfd0ec4d3f413bce1e002deef&profile_id=139&oauth2_token_id=57447761"
      }
      ...
    ],
    "video_pictures": [
      {
        "id": 308178,
        "picture": "https://static-videos.pexels.com/videos/2499611/pictures/preview-0.jpg",
        "nr": 0
      },
      {
        "id": 308179,
        "picture": "https://static-videos.pexels.com/videos/2499611/pictures/preview-1.jpg",
        "nr": 1
      },
      {
        "id": 308180,
        "picture": "https://static-videos.pexels.com/videos/2499611/pictures/preview-2.jpg",
        "nr": 2
      },
      {
        "id": 308181,
        "picture": "https://static-videos.pexels.com/videos/2499611/pictures/preview-3.jpg",
        "nr": 3
      }
      ...
    ]
  }
   */